body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
.wrapper {
    background: linear-gradient(to right, #ff5050, #4d94ff);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .quote {
    padding-left: 20px;
    border-left: 2px solid #ccc;
  }

  .quotedby {
    text-align: right;
    display: flex;
    justify-content: flex-end;
  }
  
  
  .container {
    text-align: center;
    max-width: 400px;
    padding: 50px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #333;
  }
  
  .button {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    line-height: 200px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #red-button {
    background-color: #ff5050;
    color: #fff;
  }
  
  #blue-button {
    background-color: #4d94ff;
    color: #fff;
  }
  
  .percentage-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .percentage-label {
    font-size: 18px;
    color: #666;
  }
  
  .percentage-value {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .explanation {
    margin-top: 50px;
    text-align: left;
    font-size: 16px;
    line-height: 1.5;
    color: #666;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .button-container .button {
    margin: 0 10px;
  }
  
